fieldset {
    border: solid 2px #a593c2;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

fieldset>legend {
    color: #a593c2;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    width: 3%;
    margin-left: 3%;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    width: 50%;
}

input,
textarea,
select {
    border: solid 1px #a593c2;
    border-radius: 5px;
    padding: 10px 0;
}

input[type="submit"],
input[type="reset"] {
    margin: 10px 20px 10px 0;
    padding: 10px;
    width: 10%;
}

input[type="submit"] {
    font-weight: bold;
}

input:invalid,
textarea:invalid {
    border-color: red;
}