* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6e4d9;
    background-image: url("/images/pattern.png");
}

p,
figure,
section>img {
    margin: 1.0em 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

h1,
h2,
h3 {
    color: #a593c2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Cookie', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

#main-header {
    background-color: #a593c2;
}

#main-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#main-leftside {
    float: left;
    width: 30%;
    margin-bottom: 2%;
}

#main-rightside {
    float: right;
    width: 70%;
    margin-bottom: 2%;
}

.searchbox {
    padding: 5px;
    margin: 10px 0;
    width: 90%;
}

footer {
    clear: both;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer>p {
    margin: 0.5em 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

aside>ul>li {
    font-weight: bold;
    line-height: 1.5;
}

#sidebar-header {
    font-size: x-large;
}

figure>img {
    width: 100%;
}


/* Navigation */

nav {
    height: 100%;
    width: 1000px;
    margin: 0 auto 20px;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav>ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    margin: 0 16px 0 16px;
}

nav>ul>li>a {
    display: block;
    font-weight: bold;
    font-size: large;
}

nav>ul>li>a>img {
    width: 48px;
}