<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Seasonal Pies | Bethany's Pie Shop</title>
    <meta name="author" content="Bethany's Pie Shop">
    <meta name="description" content="Bethany's Pie Shop Store Front">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/site.css" type="text/css">
    <link rel="stylesheet" href="../styles/tables.css" type="text/css">
    <script src="../scripts/site.js" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <header id="main-header">
        <nav>
            <ul>
                <li><a href="/poor-layout/index.html"><img src="/images/cake-white.svg" alt="Cake icon" /></a></li>
                <li><a href="/poor-layout/index.html">Home</a></li>
                <li><a href="allpiesview.html">All Pies</a></li>
                <li><a href="contactview.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-content">
        <aside id="main-leftside">
            <a href="/poor-layout/index.html"><img src="/images/bethany-logo.png" alt="Bethanys pie shop logo"></a>
            <header>
                <h6 id="sidebar-header">Browse our pies</h6>
            </header>
            <ul>
                <li><a href="allpiesview.html">All Pies</a></li>
                <li><a href="cheesecakesview.html">Cheese cakes</a></li>
                <li><a href="fruitpiesview.html">Fruit pies</a></li>
                <li><a href="seasonalpiesview.html">Seasonal pies</a></li>
                <li><a href="promotionsview.html">Promotions</a></li>
            </ul>
            <input type="search" class="searchbox" placeholder="Search our store">
        </aside>
        <main id="main-rightside">
            <article>
                <header>
                    <h1>Seasonal Pies</h1>
                </header>
            </article>
            <table>
                <caption>
                    Our selection of delicious seasonal pies for you to enjoy.
                </caption>
                <thead>
                    <tr>
                        <th id="image-th">Image</th>
                        <th id="name-th">Name</th>
                        <th id="description-th">Description</th>
                        <th id="price-th">Price</th>
                        <th id="details-th">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/images/products/pie-pumpkin.jpg" alt="Pumpkin pie" /></td>
                        <td>Pumpkin pie</td>
                        <td>Our Halloween favorite</td>
                        <td>$18.95</td>
                        <td><a href="pumpkinpieview.html" class="open-text">Open</a></td>
                    </tr>
                    <tr>
                        <td><img src="/images/products/pie-christmasapple.jpg" alt="Christmas apple pie" /></td>
                        <td>Christmas apple pie</td>
                        <td>Happy holidays with this pie!</td>
                        <td>$19.95</td>
                        <td><a href="christmasapplepieview.html" class="open-text">Open</a></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer>
            <p>Our address is
            <address>Bethany's Pie Shop - Bakery Street 555 Brussels Belgium</address>
            </p>
            <p>Contact us via <a href="mailto:info@bethanyspieshop">email</a></p>
            <small id="copyright"></small>
        </footer>
    </div>

</body>

</html>