<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us | Bethany's Pie Shop</title>
    <meta name="author" content="Bethany's Pie Shop">
    <meta name="description" content="Bethany's Pie Shop Store Front">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Scripts -->
    <script src="../scripts/index.js" type="text/javascript"></script>
</head>

<body>

    <header>
        <div class="row limited">
            <section class="column small-12">
                <a href="/with-custom-layout/index.html"><img src="../images/cake-white.svg" alt="Bethanys logo"></a>
                <h1>Bethatny's</h1>
                <h2>Pies and Cakes Shop</h2>
            </section>
        </div>
    </header>

    <nav>
        <div class="row limited">
            <button id="menuBtn">&#9776;</button>
            <ul id="mainMenuList">
                <li><a href="/with-custom-layout/index.html">Specials</a></li>
                <li><a href="cheeseCakes.html">Cheese Cakes</a></li>
                <li><a href="fruitPies.html">Fruit Pies</a></li>
                <li><a href="swagShop.html">Swag Shop</a></li>
                <li class="active"><a href="aboutUs.html">About Us</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <article>
            <div class="row limited">
                <figure class="column small-12">
                    <img src="../images/bethany-hero.jpg" alt="Bethany is her pie shop" width="1140" height="561">
                    <figcaption><em>Bethany in her pie shop</em></figcaption>
                </figure>
            </div>
            <div class="row limited">
                <section class="column small-12">
                    <h1>About Us</h1>
                </section>
            </div>
            <div class="row limited">
                <section class="column small-12">
                    <h2>Our history <small>so far</small></h2>
                    <p>
                        For many years, <strong>Bethany</strong> has been baking the most delicious pies at her home. In
                        2013, we opened our
                        first
                        store in Brussels (Belgium) in a cosy little street near the Grand Market. People from all over
                        the
                        world fell
                        in love with the soft cakes, heavenly cheese cakes, spicy apple pies... <em> <mark>The store
                                became
                                a success
                                in no time.</mark></em>
                    </p>
                    <p>
                        <b>In 2015</b>, no less than <strong>100</strong> pies were sold every day and Bethany's Pie
                        Shop
                        moved into a larger
                        building.
                        After receiving many requests, it became clear that our next step was making it possible to
                        order
                        pies
                        from the
                        comfort of your own home and from anywhere in the world. You are now looking at the result of
                        this:
                        our
                        very own
                        webstore, making it possible to order Bethany's delicious pies whenever you feel like it!
                    </p>
                    <p>
                        Bethany is famous for using only the best ingredients. This way, we can make sure that our pies
                        are
                        absolutely
                        the best.
                    </p>
                </section>
            </div>
        </article>
    </main>

    <footer>
        <div class="row limited">
            <section class="column small-12 medium-6 large-3">
                <h2>Location</h2>
                <ul>
                    <li>Bethany's Pie Shop</li>
                    <li>123 Bakery Street</li>
                    <li>Brussels, Belgium</li>
                </ul>
            </section>
            <section class="column small-12 medium-6 large-3">
                <h2>Company</h2>
                <ul>
                    <li>Catering</li>
                    <li>Delivery</li>
                    <li>Swag Shop</li>
                    <li>Support</li>
                </ul>
            </section>
            <section class="column small-12 medium-6 large-3">
                <h2>Social</h2>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </section>
            <section class="column small-12 medium-6 large-3">
                <h2>About Us</h2>
                <a href="aboutUs.html"><img src="../images/bethany-logo.png" alt="Bethanys logo"></a>
                <p><small id="copyright"></small></p>
            </section>
        </div>
    </footer>

</body>

</html>