<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> | Bethany's Pie Shop</title>
    <meta name="author" content="Bethany's Pie Shop">
    <meta name="description" content="Bethany's Pie Shop Store Front">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap"
        rel="stylesheet">
    <!-- Scripts -->
    <script src="../scripts/index.js" type="text/javascript"></script>
</head>

<body>

    <header>
        <div class="row limited">
            <section class="column small-12">
                <a href="/with-custom-layout/index.html"><img src="../images/cake-white.svg" alt="Bethanys logo"></a>
                <h1>Bethatny's</h1>
                <h2>Pies and Cakes Shop</h2>
            </section>
        </div>
    </header>

    <nav>
        <div class="row limited">
            <button id="menuBtn">&#9776;</button>
            <ul id="mainMenuList">
                <li class="active"><a href="/with-custom-layout/index.html">Specials</a></li>
                <li><a href="cheeseCakes.html">Cheese Cakes</a></li>
                <li><a href="fruitPies.html">Fruit Pies</a></li>
                <li><a href="swagShop.html">Swag Shop</a></li>
                <li><a href="aboutUs.html">About Us</a></li>
            </ul>
        </div>
    </nav>

    <main>

    </main>

    <footer>
        <div class="row limited">
            <section class="column small-12 medium-6 large-3">
                <h2>Location</h2>
                <ul>
                    <li>Bethany's Pie Shop</li>
                    <li>123 Bakery Street</li>
                    <li>Brussels, Belgium</li>
                </ul>
            </section>
            <section class="column small-12 medium-6 large-3">
                <h2>Company</h2>
                <ul>
                    <li>Catering</li>
                    <li>Delivery</li>
                    <li>Swag Shop</li>
                    <li>Support</li>
                </ul>
            </section>
            <section class="column small-12 medium-6 large-3">
                <h2>Social</h2>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </section>
            <section class="column small-12 medium-6 large-3">
                <h2>About Us</h2>
                <a href="aboutUs.html"><img src="../images/bethany-logo.png" alt="Bethanys logo"></a>
                <p><small id="copyright"></small></p>
            </section>
        </div>
    </footer>

</body>

</html>