<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cheese Cakes | Bethany's Pie Shop</title>
    <meta name="author" content="Bethany's Pie Shop">
    <meta name="description" content="Bethany's Pie Shop Store Front">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/site.css" type="text/css">
    <link rel="stylesheet" href="../styles/gallery.css" type="text/css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <!-- Scripts -->
    <script src="../scripts/site.js" type="text/javascript"></script>
</head>

<body>

    <header id="main-header">
        <nav>
            <ul>
                <li><a href="/with-css-flexbox-layout/index.html"><img src="/images/cake-white.svg"
                            alt="Cake icon" /></a>
                </li>
                <li><a href="/with-css-flexbox-layout/index.html">Home</a></li>
                <li><a href="allpiesview.html">All Pies</a></li>
                <li><a href="contactview.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-content">
        <aside id="main-leftside">
            <a href="/with-css-flexbox-layout/index.html"><img src="/images/bethany-logo.png"
                    alt="Bethanys pie shop logo"></a>
            <header>
                <h6 id="sidebar-header">Browse Our Products</h6>
            </header>
            <ul>
                <li><a href="allpiesview.html">All Pies</a></li>
                <li><a href="cheesecakesview.html">Cheese cakes</a></li>
                <li><a href="fruitpiesview.html">Fruit pies</a></li>
                <li><a href="seasonalpiesview.html">Seasonal pies</a></li>
                <li><a href="promotionsview.html">Promotions</a></li>
            </ul>
            <input type="search" class="searchbox" placeholder="Search our store">
        </aside>
        <main id="main-rightside">
            <article>
                <header>
                    <h1>Cheese Cakes</h1>
                </header>
                <p>Our selection of delicious cheese cakes for you to enjoy.</p>
                <div class="gallery">
                    <div class="row">
                        <img src="/images/products/cake-plain.jpg" alt="Cheese Cake" class="img-col" />
                        <div class="details-col">
                            <h4>Cheese Cake</h4>
                            <p>Plain cheese cake. Plain pleasure.</p>
                            <p><a href="cheesecake.html" class="open-text">Details</a></p>
                        </div>
                        <p class="price-col">Price: $12.95</p>
                    </div>
                    <div class="row">
                        <img src="/images/products/cake-blueberry.jpg" alt="Blueberry Cheese Cake"
                            class="img-col" />
                        <div class="details-col">
                            <h4>Blueberry Cheese Cake</h4>
                            <p>You'll love it!</p>
                            <p><a href="blueberrycheesecake.html" class="open-text">Details</a></p>
                        </div>
                        <p class="price-col">Price: $17.95</p>
                    </div>
                    <div class="row">
                        <img src="/images/products/cake-strawberry.jpg" alt="Strawberry Cheese Cake"
                            class="img-col" />
                        <div class="details-col">
                            <h4>Strawberry Cheese Cake</h4>
                            <p>One of the best cheese cakes you'll ever find!</p>
                            <p><a href="strawberrycheesecake.html" class="open-text">Details</a></p>
                        </div>
                        <p class="price-col">Price: $19.95</p>
                    </div>
                </div>
            </article>
        </main>
    </div>

    <footer>
        <p>Our address is
        <address>Bethany's Pie Shop - Bakery Street 555 Brussels Belgium</address>
        </p>
        <p>Contact us via <a href="mailto:info@bethanyspieshop">email</a></p>
        <small id="copyright"></small>
    </footer>

</body>

</html>